@media screen and (min-width: 1200px){
    body{   
        background:url(/images/bg.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:cover;
        opacity: 0.95;
        font-size: 14px;
    }
}
.post-block {
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.06), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 15px 15px 15px 15px;
}

.site-title{
//头部logo字体谷歌样式
font-family: 'Do Hyeon', sans-serif;
font-size: 2em;
line-height: 1.4em;
}

@media screen and (min-width: 1200px) {
    .menu {
        float: right;//宽、彩色屏设备下菜单栏靠右浮动
        font-size: 16px;
    }
} 
.posts-expand .post-block:not(:first-child) {
    margin-top: 80px;
}//首页post block 间的间隔
.footer-inner {
    text-align: center;
}//底栏文字居中
.posts-expand .post-body img {
  margin-left: auto;
  margin-right: auto;
}//图片居中